* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 1vmax;
    font-family: serif;
}
body,
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    scrollbar-width: none;
    user-select: auto;
    overflow: auto;
}
body::-webkit-scrollbar {
    display: none;
}
a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.custom-popover {
    z-index: 1300; /* 기본 MUI popover보다 높은 값 */
}
